@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
 
 h2 {
      font-family: "Lobster";
      font-size: 40px; }
  
  .red {
    background: #f15b4f; }
  .blue {
    background: #0054a4; }
  .green {
    background: #6fbd2a; }
	.redC {
    color: #f15b4f; }
  .blueC {
    color: #0054a4; }
  .greenC {
    color: #6fbd2a; }


/* header */
.header {
  display: block; }

.Top {
  height: 30px;
  background: #0054a4;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  }

.Logo {
  position: absolute;
  z-index: 1;
  margin-left: -15px; }

.socialNetworks {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #0054a4;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 15px; }

.Menu {
  height: 90px;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  }
  .Menu li {
    display: inline-block;
    font-family: "OpenSans", sans-serif; }
  .Menu a {
    display: block;
    height: 40px;
    color: gray;
    padding: 1px 10px;
    font-size: 15px;
    line-height: 40px;
    border-radius: 20px; }
  .Menu a:hover {
    background: lightGray;
    border: 1px solid blue;
    border-radius: 20px;
    color: blue; }
  .Menu__burger {
    display: none; }
    .Menu__burger span {
      display: block;
      width: 30px;
      height: 5px;
      background: black;
      margin-bottom: 5px;
      border-radius: 5px; }
    .Menu__burger a:hover {
      color: #0054a4; }
    .Burger__Items {
      display: none; }
    .active {
      display: block;
      position: absolute;
      top: 100px;
      right: 40px;
      z-index: 3;
      background-color: white; }
      .active ul {
        width: 120px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        list-style: none; }
        .active a {
          display: flex;
          text-align: center;
          font-family: "OpenSans";
          letter-spacing: -0.1px;
          font-size: 15px;
          color: gray; }
  .Menu__donate {
    display: inline-block;
    background: #f15b4f;
    color: white;
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 15px;
    padding: 1px 20px;
    height: 45px;
    line-height: 45px;
    border-radius: 50px;
    margin-left: 15px; }
  .Menu__donate:hover {
    box-shadow: 0 0 10px gray; }

.titleBlock {
  max-width: 1920px;
  height: 550px;
  background: url(../Img/Wilks.jpg) no-repeat center;
  background-size: cover; 
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  }

.mainMessage {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 500px; }
  .mainMessage h1 {
    color: #0054a4;
    font-size: 60px;
    padding-top: 40px;
    font-family: "Lobster"; }
  .mainMessage p {
    font-size: 18px;
    font-family: "OpenSans"; }
  .mainMessage__buttons {
    margin-top: 25px; }

.button {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  padding: 15px 30px;
  font-family: "OpenSans";
  margin-left: 10px; }

.button:hover {
  box-shadow: 0 0 10px gray; }

.button:first-child {
  margin-left: 0; }

/*  Main   */
.Main__header {
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;  }

.actionBlock {
  height: 175px;
  max-width: 375px;
  margin-right: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 20px 30px 10px; }
  .actionBlock__icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-right: 15px;
    margin-left: 10px; }

.actionBlock:hover {
  box-shadow: 0 0 10px gray;
}

.actionText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  width: 75%; }
  .actionText__line {
    height: 2px;
    width: 100px;
    background-color: white;
	opacity:70%;
    margin-left: -10px; }
  .actionText__text {
    font-size: 15px;
    color: white;
    font-family: "OpenSans"; }

.actionHeader {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .actionHeader__text {
    font-size: 25px;
    color: white;
    font-family: "Lobster"; }
  .actionHeader__arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    color: white; }

.Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  }
  .Section__intro {
    color: black;
    margin: 50px 300px;
    text-align: center; }
    .Section__intro p {
      font-family: "OpenSans";
      color: #9d9d9d;
      margin-top:10px;
	  margin-bottom:50px;
	  }
  .Section__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }

.aboutItem {
  text-align: center;
  margin-right: 40px; }
  .aboutItem p {
    font-size: 22px;
    margin: 0;
    color: gray; 
	font-family:"OpenSans";
	}
  .aboutItem h2 {
    color: #0054a4;
    margin-bottom:50px; }

.aboutItem__pic {
  margin-bottom: 25px; }

.Section__link {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: -70px; }
  .Section__link a {
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-bottom: 2px solid #0054a4;
    margin-bottom: 20px;
    display: inline-block;
    text-align: right; }
  .seeMore a:hover {
    color: #0054a4; }

.infoBlock {
  display: flex;
  flex-direction: column;
  background: white;
  width: 350px;
  
  margin-bottom: 50px;
  border: 1px solid lightGray;
  margin-right: 50px; }
  .infoBlock img {
    width: 100%; }
  .infoBlock__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 200px;
    text-align: center; }
    .infoBlock__text h2,.infoBlock__text-news h2  {
      font-size: 24px;
      margin: 10px 30px 20px 30px; }
    .infoBlock__text p {
      font-size: 15px;
      font-family: "OpenSans";
      color: gray;
      margin: 0 30px 80px 30px; }
    .infoBlock__text-news {
      margin-bottom: 80px; }
  .newsActions {
    margin-left:30px;
	margin-right:30px;
    display: flex;
    align-items: center;
    color: gray; 
	border-top:2px solid lightGray;
	}
    .newsActions .far {
      margin-left: 20px; }
      .newsActions .far p {
        display: inline-block;
        margin-left: 10px;
        font-family: "OpenSans"; }
    .newsActions a {
      color: gray;
      padding: 0; }
    .newsActions a:hover {
      color: #0054a4;
     }
  .refresh {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: gray;
    margin-top: 5px;
    margin-left: 120px; }
  .infoBlock__date {
    font-family: "OpenSans";
    font-size: 15px;
    font-weight: bold;
    text-align: center; }
    .infoBlock__date span {
      color: #0054a4; }
  .infoBlock__buttons {
    display: flex;
    font-size: 15px;
    font-family: "OpenSans";
    margin-top: 10px; }

.infoBlock:last-child {
  margin-right: 0; }

.register {
  width: 180px;
  color: white;
  background: #f15b4f;
  text-align: center;
  padding: 15px 0; }

.register:hover {
  box-shadow: 0 0 10px gray;
  }

.learnMore {
  width: 180px;
  color: #9d9d9d;
  background: white;
  text-align: center;
  padding: 15px 0;
  border: 1px solid lightGray; }

.learnMore:hover {
  box-shadow: 0 0 10px gray;
  }

.smallLogo {
  width: 65px;
  height: 65px;
  background: #0054a4;
  border-radius: 50%;
  margin: -30px auto 0 auto; }

.smallLogo:hover {
  box-shadow: 0 0 10px gray;
  }

.videoBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 50px; }
  .videoBlock iframe {
    width: 550px;
    height: 300px; }
  .videoBlock p {
    color: #9d9d9d;
    font-family: "OpenSans";
    margin-bottom: 50px; }

.videoBlock:last-child {
  margin-right: 0; }

.infoBlock__text-news {
  margin: 0 20px; 
  text-align: left; }



.recentNews {
  font-size: 13px;
  font-family: "OpenSans";
  font-weight: bold;
  padding: 5px 10px;
  margin: 20px 30px 0 30px;
  align-self: flex-start;
  border-radius: 5px;
  color: white; }

.Volunteer {
  max-width: 1920px;
  height: 550px;
  background: url(../Img/volunteer.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.volunteerTextBlock {
  width: 350px;
  height: 300px;
  background: white;
  text-align: center;
  color: black; }
  .volunteerTextBlock span {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding-top: 30px; }
  .volunteerTextBlock p {
    font-size: 14px;
    font-family: "OpenSans";
    color: gray;
    margin: 20px 30px 30px 30px; }
  .volunteerTextBlock a {
    padding: 5px 20px;
    color: #0054a4;
    background: white;
    border: 2px solid #0054a4;
    border-radius: 23px;
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: bold; }
  .volunteerTextBlock a:hover {
    background: #0054a4;
    color: white; }

.footer {
  width: 100%;
  height: 420px;
  background-image: url("../Img/footerBG.jpg"); }

.footerContent {
  display: flex;
  justify-content: flex-start;
  width: 500px; }
  .footerContent__logo {
    margin-top: 100px;
    margin-left: 50px; }
    .footerSocial {
      display: flex;
      justify-content: center;
      align-items: center; }
    .footerSocial .fab {
      text-align: center;
      display: inline-block;
      margin: 20px;
      font-size: 20px; }

.siteLinks {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 100px; }
  .siteLinks p {
    font-family: "Lobster";
    font-size: 23px;
    color: white;
    width: 100px;
    margin-bottom: 10px; }
  .siteLinks__menu ul {
    padding-left: 0; }
  .siteLinks__menu li {
    list-style: none;
    padding: 5px 0; }
  .siteLinks__menu a {
    color: #80afd8;
    font-family: "OpenSans"; }
	
  .Line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 0; }
    .Line__thick {
      width: 50px;
      background: #659a37;
      height: 4px; }
    .Line__thin {
      width: 70px;
      background: #227dc4;
      height: 2px; }

.contactUs {
  display: flex;
  text-align: left;
  margin-top: 60px;
  flex-direction: column;
  margin-left: 100px; }
  .contactUs h2 {
    font-size: 23px;
    color: white;
    width: 100px;
    margin-bottom: 10px; }
  .contactUs p {
    font-family: "OpenSans";
    font-size: 16px;
    color: #80afd8;
    width: 200px;
    margin-bottom: 5px; }

.stayInTouch {
  display: flex;
  text-align: left;
  margin-top: 60px;
  flex-direction: column;
  margin-left: 100px; }
  .stayInTouch p {
    font-family: "Lobster";
    font-size: 23px;
    color: white;
    width: 150px;
    margin-bottom: 10px; }
  .stayInTouch a {
    color: white;
    width: 180px;
    text-align: center;
    padding: 5px 10px;
    background-color: #f15b4f;
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: bold;
    border-radius: 3px; }
  .stayInTouch a:hover {
    box-shadow: 0 0 10px gray; }

.leftArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 70px;
  z-index: 999;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #9d9d9d solid 2px;
  color: #9d9d9d;
  font-size: 20px; }

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background: white;
  overflow: hidden; }
  .sliderPics {
    position: relative;
    display: flex;
    width: 630px;
    justify-content: space-between;
    align-items: flex-start;
    left: 0;
    transition: all ease 1s; }
    .sliderPics__item {
      width: 200px;
      height: 100px;
      background: #efefef;
      margin-right: 25px; }
      .sliderPics__item img {
        width: 200px;
        height: 100px; }

.rightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9;
  right: 70px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid gray;
  color: gray;
  font-size: 20px; }

.leftArrow:hover {
  border-color: #0054a4;
  color: #0054a4; }

.rightArrow:hover {
  border-color: #0054a4;
  color: #0054a4; }

  .Partners {
  display: flex;
  justify-content: center;
  align-items: center; }

.Copyright {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: #80afd8; 
  font-family: "OpenSans";
  font-size: 14px; }

@media screen and (max-width: 1190px) {
  .Menu__horizontal {
    display: none; }
  .Menu__burger {
    display: block; }
  .Main__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .actionBlock {
    margin: 0;
    width: 450px;
    margin-top: 50px; }
  .actionBlock .green {
    margin-top: 100px; }
  .Section__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .Section__intro {
    margin: 20px; }
  .footer {
    height: auto;
    background-size: cover; }
  .footerContent__logo {
    margin: 20px auto; }
  .footerContent {
    margin: 0 auto;
    flex-direction: column;
    width: 100%; }
  .siteLinks {
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
    .Line {
      margin: 0 auto;
      justify-content: center;
      align-items: center; }
  .contactUs {
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
  .stayInTouch {
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
    .stayInTouch a {
      margin-bottom: 30px; }
  .videoBlock {
    margin-right: 0;
    margin-left: 0;
    margin-top: 50px; }
  .aboutItem {
    margin-right: 0;
    margin-top: 30px; }
  .infoBlock {
    margin-right: 0; }
  .Section__link {
    margin-top: 50px; } }

@media screen and (max-width: 695px) {
  .volunteerTextBlock {
    min-height: 300px; }
  .slider {
    width: 225px; }
  .sliderPics {
    width: 630px; } }

@media screen and (max-width: 594px) {
  .videoBlock {
    display: flex;
    justify-content: center;
    align-items: center; }
    .videoBlock__video {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .videoBlock iframe {
      height: 200px;
      width: 300px; } }

@media screen and (max-width: 523px) {
  .mainMessage {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 300px; }
    .mainMessage h1 {
      color: #0054a4;
      font-size: 40px;
      padding-top: 40px;
      font-family: "Lobster"; }
    .mainMessage p {
      font-size: 20px;
      font-family: "OpenSans"; }
  .button {
    font-size: 10px; }
  .actionBlock {
    width: 250px;
    height: 250px; }
  .logo img {
    height: 150px;
    width: 200px; }
  .Menu__donate {
    font-size: 10px; }
  .rightArrow {
    right: 15px; }
  .leftArrow {
    left: 30px; } }

@media screen and (max-width: 405px) {
  .infoBlock {
    width: 250px;
    height: 600px; }
  .infoBlock__text-news {
    margin-bottom: 100px; }
  .newsActions a {
    margin: 0; }
  .refresh a {
    display: none; }
  .infoBlock__date {
    margin-top: 70px; }
  .footerContent__logo img {
    width: 250px;
    height: 100px; }
  .siteLinks {
    width: 100px; }
  .contactUs {
    width: 100px; }
  .stayInTouch {
    width: 100px; }
  .Logo img {
    width: 135px;
    height: 100px;
    left: 0; } }

@media screen and (max-width: 390px) {
  .actionBlock {
    justify-content: space-around; }
    .actionBlock__icon {
      width: 55px;
      height: 55px;
      margin-right: 5px;
      margin-left: 5px; }
  .mainMessage {
    width: 50%; }
    .mainMessage h1 {
      font-size: 16px; }
  .volunteerTextBlock {
    min-height: 300px;
    width: 100%; }
  .videoBlock iframe {
    width: 200px; }
  .rightArrow {
    width: 20px;
    height: 20px; }
  .leftArrow {
    width: 20px;
    height: 20px; } }
