* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black
}
ul {
    list-style: none;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 95px;
}

.header {
    border-bottom: 2px solid silver;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: black;
}

.logo h1 span {
    font-weight: normal;
    display: block;
}
.data p{
    display: inline-block;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 15px 20px;
    white-space: nowrap;
    font-size: 18px;
}

.menu ul li a:hover{
    background: silver;
}
.content{
    padding: 40px;
	font-family: Arial, sans-serif;
}
.content p{
    font-size: 15px;
    margin-bottom: 10px;
	text-align: justify;
    padding-right: 40px;
    padding-left: 30px;
}
.content h2
{
	font-size: 26px;
    padding-top: 15px;
}
.content h3 {
    font-size: 26px;
    padding-left: 30px;
    padding-top: 20px;
}
.content .info {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side .photo, .right-side .photo {
    width: 55%;
    overflow: hidden;
    float: left;
    padding: 20px 20px 20px 30px;
}
.left-side .photo2, .right-side .photo2 {
    width: 35%;
    overflow: hidden;
    float: right;
    padding: 20px 40px 20px 20px;
}
.left-side {
	width:50%;
    margin-right: 70px;
	box-shadow: 8px 8px 10px 3px silver;
}
.right-side {
	 box-shadow: 8px 8px 10px 3px silver;
	 width:50%;
}
img {
    width: 100%;
    height: auto;
}

.footer {
    text-align: center;
}

.active-page {
    background: grey;
}

.data p {
    font-weight: normal;
    padding-top: 30px;
    font-size: 25px;
}
.data p span {
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: bold;
    padding-right: 30px;
}
footer {
    background: silver;
    font-size: 30px;
    display: flex;
    justify-content: center;
}